.RD-circle
    {
    width:60px;
    height:60px;
    border-radius:30px;
    font-size:23px;
    color:white;
    line-height:60px;
    text-align:center;
    font-family:"Helvetica Neue";
    background:#BF0D3E
    }