.resize_fit_center {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}
    
    .RD-circle {
        display: inline-block;
        min-width: 15%;
        text-align: center;
        white-space: nowrap;
      }
      .RD-circle:before {
        border-radius: 50%;
        margin: min(0.5vw, 15px) 0px;
        background: #BF0D3E;
        content: '';
        display: inline-block;
        vertical-align: middle;
        padding-bottom: 0vw;
        width: 9vw;
        max-width: 60px;
        max-height: 60px;
        height: 9vw;
      }
      .RD-circle p {
        display: inline-block;
        font-size: min(4.1vw, 27px);
        margin: 0 0 0 max(-9vw, -60px);
        padding: 0;
        font-family:"Helvetica Neue";
        color: white;
        vertical-align: middle;
        white-space: normal;
        width: 9vw;
        font-weight: bold;
        max-width: 60px;
        max-height: 60px;
      }

    .OR-circle {
        display: inline-block;
        min-width: 15%;
        text-align: center;
        white-space: nowrap;
      }
      .OR-circle:before {
        border-radius: 50%;
        margin: min(0.5vw, 15px) 0px;
        background: #ED8B00;
        content: '';
        display: inline-block;
        vertical-align: middle;
        padding-bottom: 0vw;
        width: 9vw;
        max-width: 60px;
        max-height: 60px;
        height: 9vw;
      }
      .OR-circle p {
        display: inline-block;
        font-size: min(4.1vw, 27px);
        margin: 0 0 0 max(-9vw, -60px);
        padding: 0;
        font-family:"Helvetica Neue";
        vertical-align: middle;
        white-space: normal;
        width: 9vw;
        font-weight: bold;
        max-width: 60px;
        max-height: 60px;
      }
  
    .BL-circle {
        display: inline-block;
        min-width: 15%;
        text-align: center;
        white-space: nowrap;
      }
      .BL-circle:before {
        border-radius: 50%;
        margin: min(0.5vw, 15px) 0px;
        background: #009CDE;
        content: '';
        display: inline-block;
        vertical-align: middle;
        padding-bottom: 0vw;
        width: 9vw;
        max-width: 60px;
        max-height: 60px;
        height: 9vw;
      }
      .BL-circle p {
        display: inline-block;
        font-size: min(4.1vw, 27px);
        margin: 0 0 0 max(-9vw, -60px);
        padding: 0;
        color:white;
        font-family:"Helvetica Neue";
        vertical-align: middle;
        white-space: normal;
        width: 9vw;
        font-weight: bold;
        max-width: 60px;
        max-height: 60px;
      }
 
    .GR-circle {
        display: inline-block;
        min-width: 15%;
        text-align: center;
        white-space: nowrap;
      }
      .GR-circle:before {
        border-radius: 50%;
        margin: min(0.5vw, 15px) 0px;
        background: #00B140;
        content: '';
        display: inline-block;
        vertical-align: middle;
        padding-bottom: 0vw;
        width: 9vw;
        max-width: 60px;
        max-height: 60px;
        height: 9vw;
      }
      .GR-circle p {
        display: inline-block;
        font-size: min(4.1vw, 27px);
        margin: 0 0 0 max(-9vw, -60px);
        padding: 0;
        color:white;
        font-family:"Helvetica Neue";
        vertical-align: middle;
        white-space: normal;
        width: 9vw;
        font-weight: bold;
        max-width: 60px;
        max-height: 60px;
      }


.YL-circle {
    display: inline-block;
    min-width: 15%;
    text-align: center;
    white-space: nowrap;
  }
  .YL-circle:before {
    border-radius: 50%;
    margin: min(0.5vw, 15px) 0px;
    background: #FFD100;
    content: '';
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0vw;
    width: 9vw;
    max-width: 60px;
    max-height: 60px;
    height: 9vw;
  }
  .YL-circle p {
    display: inline-block;
    font-size: min(4.1vw, 27px);
    margin: 0 0 0 max(-9vw, -60px);
    padding: 0;
    font-family:"Helvetica Neue";
    vertical-align: middle;
    white-space: normal;
    width: 9vw;
    max-width: 60px;
    font-weight: bold;
    max-height: 60px;
  }

  .SV-circle {
    display: inline-block;
    min-width: 15%;
    text-align: center;
    white-space: nowrap;
  }
  .SV-circle:before {
    border-radius: 50%;
    margin: min(0.5vw, 15px) 0px;
    background: #919D9D;
    content: '';
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0vw;
    width: 9vw;
    max-width: 60px;
    max-height: 60px;
    height: 9vw;
  }
  .SV-circle p {
    display: inline-block;
    font-size: min(4.1vw, 27px);
    margin: 0 0 0 max(-9vw, -60px);
    padding: 0;
    font-family:"Helvetica Neue";
    vertical-align: middle;
    white-space: normal;
    font-weight: bold;
    width: 9vw;
    max-width: 60px;
    max-height: 60px;
  }