.RD-circle
    {
    height:100%;
    aspect-ratio: 1 / 1;
    border-radius:50%;
    font-size:150%;
    color:white;
    line-height:2.5;
    text-align:center;
    font-family:"Helvetica Neue";
    background:#BF0D3E
    }

    .OR-circle
    {
    height:100%;
    aspect-ratio: 1 / 1;
    border-radius:50%;
    font-size:150%;
    color:black;
    line-height:2.5;
    text-align:center;
    font-family:"Helvetica Neue";
    background:#ED8B00
    }

    .BL-circle
    {
    height:100%;
    aspect-ratio: 1 / 1;
    border-radius:50%;
    font-size:150%;
    color:white;
    line-height:2.5;
    text-align:center;
    font-family:"Helvetica Neue";
    background:#009CDE
    }

    .GR-circle
    {
    height:100%;
    aspect-ratio: 1 / 1;
    border-radius:50%;
    font-size:150%;
    color:white;
    line-height:2.5;
    text-align:center;
    font-family:"Helvetica Neue";
    background:#00B140
    }

    .YL-circle
    {
    height:100%;
    aspect-ratio: 1 / 1;
    border-radius:50%;
    font-size:150%;
    color:black;
    line-height:2.5;
    text-align:center;
    font-family:"Helvetica Neue";
    background:#FFD100
    }

    .SV-circle
    {
    height:100%;
    aspect-ratio: 1 / 1;
    border-radius:50%;
    font-size:150%;
    color:black;
    line-height:2.5;
    text-align:center;
    font-family:"Helvetica Neue";
    background:#919D9D
    }